/*
 * This is for mixings, variables and functions
*/
$font-bold: "DINCond bold";
$font-regular: "DINCond-regular";
$title-font-color: #525254;
$icon-sprite-path: "../img/icon-sprite.png";
@font-face {
    font-family: 'DINCond';
    font-weight: bold;
    src: url(../../vendors/dincond-bold-opentype.otf);
}
@font-face {
    font-family: 'DINCond';
    font-weight: normal;
    src: url(../../vendors/dincond-regular-opentype.otf);
}
@font-face {
    font-family: 'DINCond';
    font-weight: 200;
    src: url(../../vendors/dincond-light-opentype.otf);
}
@font-face {
    font-family: 'DIN';
    font-weight: normal;
    src: url(../../vendors/din-regular-opentype.otf);
}
@font-face {
    font-family: 'DIN';
    font-weight: 200;
    src: url(../../vendors/din-light-opentype.otf);
}

$grey-bkg: #e9eaee;
$grey-border: #cbccd0;
$grey-nav-color: #9999a0;
$text-color: #505050;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin square-box($lenght){
	width: $lenght;
	height: $lenght;
}
/* This is for positioning the bell, the only extra style you need
to add are top and left */
@mixin hot() {
  content: " ";
  background:  url('../img/footersocialsprite.png') no-repeat 0 -120px;
  display: inline-block;
  height: 30px;
  width: 30px;
  position: absolute;
}

/* Mixin for Placeholder */

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

/* Media Queries for big monitors */
$big: 1480px;

@mixin desktop {
  @media (min-width: #{$big}) {
    @content;
  }
}