/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
@import url(/vendors/css/bootstrap.css);
@import url(/vendors/css/bootstrap-theme.min.css);
/*
 * This is for mixings, variables and functions
*/
@font-face {
  font-family: 'DINCond';
  font-weight: bold;
  src: url(/vendors/dincond-bold-opentype.otf); }
@font-face {
  font-family: 'DINCond';
  font-weight: normal;
  src: url(/vendors/dincond-regular-opentype.otf); }
@font-face {
  font-family: 'DINCond';
  font-weight: 200;
  src: url(/vendors/dincond-light-opentype.otf); }
@font-face {
  font-family: 'DIN';
  font-weight: normal;
  src: url(/vendors/din-regular-opentype.otf); }
@font-face {
  font-family: 'DIN';
  font-weight: 200;
  src: url(/vendors/din-light-opentype.otf); }
.btn {
  font-family: "DINCond-regular";
  font-size: 22px;
  color: #ffffff;
  padding: 1px 20px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .btn:hover, .btn:focus, .btn.focus {
    color: #ffffff; }
  .btn.btn-green {
    background: #bfd52a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(62%, #bfd52a), color-stop(100%, #a6b922));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #bfd52a 62%, #a6b922 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd52a', endColorstr='#a6b922',GradientType=0 );
    /* IE6-9 */ }
  .btn.btn-blue {
    background: #bfd52a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(62%, #bfd52a), color-stop(100%, #a6b922));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #bfd52a 62%, #a6b922 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd52a', endColorstr='#a6b922',GradientType=0 );
    /* IE6-9 */ }

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: bold;
  color: #525254;
  font-family: 'DINCond';
  letter-spacing: 0.01em; }

body {
  background: #edebec;
  /* Old browsers */
  background: -moz-linear-gradient(top, #edebec 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edebec), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #edebec 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #edebec 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #edebec 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #edebec 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edebec', endColorstr='#ffffff',GradientType=0);
  /* IE6-9 */
  font-family: 'DINCond';
  color: #525254; }
  body header {
    width: 980px;
    margin: 0 auto; }
  body .container {
    width: 980px;
    padding: 0; }
  body .row {
    margin: 0 auto; }
  body .btn {
    font-family: 'DINCond'; }

header .logo {
  margin: 40px 0px;
  display: block;
  width: 275px;
  height: 60px;
  background-image: url("../img/logo-globant.png");
  background-repeat: no-repeat;
  background-size: contain; }
header .links {
  list-style-type: none; }
  header .links li {
    display: inline-block; }
    header .links li a {
      display: block;
      padding: 5px 10px;
      font-size: 17px;
      font-weight: 200;
      font-family: 'DIN';
      text-transform: uppercase;
      background-color: #ffffff;
      border-radius: 5px;
      color: #cbccd0; }
      header .links li a:hover {
        text-decoration: none; }

.bs-docs-container {
  margin-top: 5px; }

#hot-positions {
  padding: 0 16px 0 0; }
  #hot-positions .head {
    background: #e5e3e4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e5e3e4 0%, #cbccd0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e3e4), color-stop(100%, #cbccd0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5e3e4 0%, #cbccd0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5e3e4 0%, #cbccd0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e5e3e4 0%, #cbccd0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #e5e3e4 0%, #cbccd0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e3e4', endColorstr='#cbccd0',GradientType=0);
    /* IE6-9 */
    padding: 0px 47px;
    border: 1px solid #cbccd0; }
    #hot-positions .head h2 {
      font-size: 31px;
      margin: 0px;
      letter-spacing: -0.2px; }
    #hot-positions .head p {
      color: #525254;
      font-size: 20px;
      letter-spacing: 0.01em;
      margin: 0px; }
  #hot-positions .content {
    background-color: #e9eaee;
    padding: 20px 80px 10px;
    border: 1px solid #cbccd0;
    border-top: 0; }
    #hot-positions .content .carousel a.left,
    #hot-positions .content .carousel a.right {
      background: url("../img/icon-sprite.png") no-repeat transparent;
      width: 40px;
      height: 40px;
      top: 50%;
      margin-top: -20px; }
    #hot-positions .content .carousel a.left {
      left: -65px;
      background-position: 0px -26px; }
    #hot-positions .content .carousel a.right {
      right: -65px;
      background-position: -42px -26px; }
    #hot-positions .content .carousel .carousel-inner .item {
      width: 450px;
      margin: 0px auto; }
      #hot-positions .content .carousel .carousel-inner .item.active {
        display: block; }
      #hot-positions .content .carousel .carousel-inner .item h3 {
        font-size: 24px;
        font-weight: normal;
        line-height: 23px;
        margin: 0px;
        text-transform: uppercase; }
      #hot-positions .content .carousel .carousel-inner .item .location:before {
        content: " ";
        width: 20px;
        height: 22px;
        margin-right: 5px;
        display: inline-block;
        background: url("../img/icon-sprite.png") top left no-repeat transparent; }
      #hot-positions .content .carousel .carousel-inner .item .seniority {
        margin-left: 28px; }
        #hot-positions .content .carousel .carousel-inner .item .seniority:before {
          content: " ";
          width: 20px;
          height: 22px;
          margin-right: 5px;
          display: inline-block;
          background: url("../img/icon-sprite.png") -24px 0 no-repeat transparent; }
      #hot-positions .content .carousel .carousel-inner .item .location, #hot-positions .content .carousel .carousel-inner .item .seniority {
        color: #525254;
        margin-top: 10px;
        display: inline-block;
        font-size: 23px; }
      #hot-positions .content .carousel .carousel-inner .item .btn {
        position: absolute;
        top: 26px;
        right: 0px; }
    #hot-positions .content .carousel .carousel-indicators {
      position: static;
      margin: 10px auto 5px; }
      #hot-positions .content .carousel .carousel-indicators li {
        width: 14px;
        height: 14px;
        margin-right: 11px;
        border: 1px solid #d8d8da;
        background-color: #d8d8da; }
        #hot-positions .content .carousel .carousel-indicators li.active {
          border: 1px solid #bab9be;
          background-color: #bab9be; }

#top-globers {
  padding: 0; }
  #top-globers h2 {
    font-size: 25px;
    margin: 0px; }
  #top-globers ul {
    padding: 0px; }
    #top-globers ul li {
      border-bottom: 2px solid #d4d3d9;
      padding: 6px 25px 6px 0px;
      overflow: hidden; }
      #top-globers ul li p {
        font-size: 18px;
        float: left;
        margin-bottom: 0px; }
      #top-globers ul li span {
        color: #e61191;
        float: right;
        font-size: 20px; }

#recent-position {
  padding: 0px; }
  #recent-position table {
    width: 100%; }
    #recent-position table thead tr {
      border: 1px solid #cbccd0;
      text-transform: uppercase;
      background-color: #e9eaee; }
      #recent-position table thead tr th {
        padding: 5px 0px 0px 10px;
        font-size: 23px;
        font-weight: normal; }
    #recent-position table tbody tr td {
      padding: 10px 20px;
      font-size: 18px;
      border-bottom: 2px solid #d4d3d9; }
      #recent-position table tbody tr td .btn {
        font-size: 24px;
        vertical-align: middle; }
  #recent-position .view-all {
    padding: 0px 40px;
    margin-top: 15px; }

#extra-referral {
  padding: 15px 10px;
  margin: 50px 0px;
  background-color: #e9eaee;
  font-size: 23px; }
  #extra-referral p {
    margin: 0px; }
  #extra-referral .refer-now {
    padding: 0px 30px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -15px; }

footer {
  padding: 20px 10px;
  background-color: #e5e3e4; }
  footer .copyright {
    font-family: Arial;
    font-size: 23px; }

div#comp {
  display: none;
  opacity: .5;
  position: absolute;
  top: 0;
  left: -15px; }

.switch {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10000; }

/*# sourceMappingURL=style.css.map */
