/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
@import url(../../vendors/css/bootstrap.css);
@import url(../../vendors/css/bootstrap-theme.min.css);
@import url(../../vendors/css/bootstrap-select.min.css);
/*
 * This is for mixings, variables and functions
*/
@font-face {
  font-family: 'DINCond';
  font-weight: bold;
  src: url(../../vendors/dincond-bold-opentype.otf);
}
@font-face {
  font-family: 'DINCond';
  font-weight: normal;
  src: url(../../vendors/dincond-regular-opentype.otf);
}
@font-face {
  font-family: 'DINCond';
  font-weight: 200;
  src: url(../../vendors/dincond-light-opentype.otf);
}
@font-face {
  font-family: 'DIN';
  font-weight: normal;
  src: url(../../vendors/din-regular-opentype.otf);
}
@font-face {
  font-family: 'DIN';
  font-weight: 200;
  src: url(../../vendors/din-light-opentype.otf);
}
/* This is for positioning the bell, the only extra style you need
to add are top and left */
/* Mixin for Placeholder */
/* Media Queries for big monitors */
/* line 1, sass/_buttons.scss */
.btn {
  font-family: "DINCond-regular";
  font-size: 22px;
  color: #ffffff;
  padding: 1px 20px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 9, sass/_buttons.scss */
.btn:hover, .btn:focus, .btn.focus {
  color: #ffffff;
}
/* line 12, sass/_buttons.scss */
.btn.btn-green {
  background: #bfd52a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62%, #bfd52a), color-stop(100%, #a6b922));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #bfd52a 62%, #a6b922 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd52a', endColorstr='#a6b922',GradientType=0 );
  /* IE6-9 */
}
/* line 22, sass/_buttons.scss */
.btn.btn-blue {
  background: #bfd52a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62%, #bfd52a), color-stop(100%, #a6b922));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bfd52a 62%, #a6b922 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #bfd52a 62%, #a6b922 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd52a', endColorstr='#a6b922',GradientType=0 );
  /* IE6-9 */
}

/* line 12, sass/style.scss */
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: bold;
  color: #525254;
  font-family: 'DINCond';
  letter-spacing: 0.01em;
}

/* line 19, sass/style.scss */
body {
  background: #edebec;
  /* Old browsers */
  background: -moz-linear-gradient(top, #edebec 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edebec), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #edebec 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #edebec 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #edebec 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #edebec 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edebec', endColorstr='#ffffff',GradientType=0);
  /* IE6-9 */
  font-family: 'DINCond';
  color: #525254;
}
/* line 32, sass/style.scss */
body header {
  width: 980px;
  margin: 0 auto;
}
/* line 36, sass/style.scss */
body .container {
  width: 980px;
  padding: 0;
}
/* line 40, sass/style.scss */
body .row {
  margin: 0 auto;
}
/* line 43, sass/style.scss */
body .btn {
  font-family: 'DINCond';
}
/* line 46, sass/style.scss */
body .hot {
  position: relative;
}
/* line 49, sass/style.scss */
body .login {
  min-height: 700px;
  background: url("../img/loginback.jpg") no-repeat;
  padding: 105px 48px;
  background-size: contain;
}
/* line 54, sass/style.scss */
body .login p {
  color: #fff;
  font-family: 'DINCond';
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 25px;
}
/* line 60, sass/style.scss */
body .login p:first-child {
  margin: 0 0 64px;
}
/* line 66, sass/style.scss */
body .login .login-wrapper form label {
  width: 68px;
  margin-left: 15px;
  color: #ec008c;
  font-family: 'DINCond';
  font-size: 18px;
}
/* line 73, sass/style.scss */
body .login .login-wrapper form input[type="text"],
body .login .login-wrapper form input[type="password"] {
  padding: 5px;
  font-family: 'DINCond';
  color: #505050;
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccccce;
}
/* line 63, sass/_resources.scss */
body .login .login-wrapper form input[type="text"].placeholder,
body .login .login-wrapper form input[type="password"].placeholder {
  color: #505050;
}
/* line 64, sass/_resources.scss */
body .login .login-wrapper form input[type="text"]:-moz-placeholder,
body .login .login-wrapper form input[type="password"]:-moz-placeholder {
  color: #505050;
}
/* line 65, sass/_resources.scss */
body .login .login-wrapper form input[type="text"]::-moz-placeholder,
body .login .login-wrapper form input[type="password"]::-moz-placeholder {
  color: #505050;
}
/* line 66, sass/_resources.scss */
body .login .login-wrapper form input[type="text"]:-ms-input-placeholder,
body .login .login-wrapper form input[type="password"]:-ms-input-placeholder {
  color: #505050;
}
/* line 67, sass/_resources.scss */
body .login .login-wrapper form input[type="text"]::-webkit-input-placeholder,
body .login .login-wrapper form input[type="password"]::-webkit-input-placeholder {
  color: #505050;
}
/* line 63, sass/_resources.scss */
body .login .login-wrapper form input[type="text"]:focus.placeholder,
body .login .login-wrapper form input[type="password"]:focus.placeholder {
  color: transparent;
}
/* line 64, sass/_resources.scss */
body .login .login-wrapper form input[type="text"]:focus:-moz-placeholder,
body .login .login-wrapper form input[type="password"]:focus:-moz-placeholder {
  color: transparent;
}
/* line 65, sass/_resources.scss */
body .login .login-wrapper form input[type="text"]:focus::-moz-placeholder,
body .login .login-wrapper form input[type="password"]:focus::-moz-placeholder {
  color: transparent;
}
/* line 66, sass/_resources.scss */
body .login .login-wrapper form input[type="text"]:focus:-ms-input-placeholder,
body .login .login-wrapper form input[type="password"]:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 67, sass/_resources.scss */
body .login .login-wrapper form input[type="text"]:focus::-webkit-input-placeholder,
body .login .login-wrapper form input[type="password"]:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 90, sass/style.scss */
body .login .login-wrapper form button.btn-green {
  margin: 15px 0 0;
}
/* line 95, sass/style.scss */
body .login .login-wrapper #login-btn {
  margin: 25px 0 0;
}
/* line 100, sass/style.scss */
body .referafriend {
  min-height: 600px;
}
@media (min-width: 1480px) {
  /* line 100, sass/style.scss */
  body .referafriend {
    min-height: 750px;
  }
}
/* line 105, sass/style.scss */
body .referafriend button.dropdown-toggle {
  background: #fff;
  color: #505050;
  padding: 6px 15px 6px 8px;
  margin-bottom: 5px;
  min-width: 173px;
  position: relative;
  text-align: left;
}
/* line 113, sass/style.scss */
body .referafriend button.dropdown-toggle span.caret {
  position: absolute;
  border-top: 13px solid;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  top: 15px;
  right: 9px;
}
/* line 122, sass/style.scss */
body .referafriend form {
  margin: 32px 0 0;
}
/* line 124, sass/style.scss */
body .referafriend form legend {
  font-family: 'DINCond';
  font-size: 24px;
  background: #e8eaec;
  border: 1px solid #ccccce;
  color: #505050;
  padding: 14px 12px;
  margin: 0 0 32px;
}
/* line 133, sass/style.scss */
body .referafriend form .form-group {
  margin-bottom: 23px;
}
/* line 135, sass/style.scss */
body .referafriend form .form-group label {
  display: block;
  font-family: 'DINCond';
  font-size: 18px;
  color: #505050;
  text-rendering: optimizeLegibility;
  padding-left: 5px;
}
/* line 143, sass/style.scss */
body .referafriend form .form-group input[type="text"],
body .referafriend form .form-group input[type="email"],
body .referafriend form .form-group button.selectpicker, body .referafriend form .form-group textarea {
  border: 1px solid #ccccce;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: 300px;
  padding: 7px 5px;
  font-family: 'DINCond';
  font-size: 18px;
  color: #505050;
}
/* line 154, sass/style.scss */
body .referafriend form .form-group button.selectpicker {
  width: 173px;
  position: relative;
}
/* line 157, sass/style.scss */
body .referafriend form .form-group button.selectpicker span.caret {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #858585;
}
/* line 165, sass/style.scss */
body .referafriend form .form-group button.selectpicker .dropdown-menu li a {
  font-family: 'DINCond';
  font-size: 18px;
  color: #505050;
}
/* line 173, sass/style.scss */
body .referafriend form .form-group.fileupload {
  position: relative;
}
/* line 175, sass/style.scss */
body .referafriend form .form-group.fileupload .btn-upload {
  font-color: #fff;
  background: -moz-linear-gradient(top, #00aeef 0%, #01a7e5 31%, #0295cc 84%, #0292c7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00aeef), color-stop(31%, #01a7e5), color-stop(84%, #0295cc), color-stop(100%, #0292c7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00aeef 0%, #01a7e5 31%, #0295cc 84%, #0292c7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00aeef 0%, #01a7e5 31%, #0295cc 84%, #0292c7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00aeef 0%, #01a7e5 31%, #0295cc 84%, #0292c7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00aeef 0%, #01a7e5 31%, #0295cc 84%, #0292c7 100%);
  /* W3C */
  position: absolute;
  top: -1px;
  left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 188, sass/style.scss */
body .referafriend form .form-group.fileupload input[type="file"] {
  opacity: 0;
  width: 104px;
  margin-left: 6px;
  height: 31px;
}
/* line 194, sass/style.scss */
body .referafriend form .form-group.fileupload button[type="submit"] {
  position: absolute;
  top: -1px;
  left: 208px;
}

/* line 205, sass/style.scss */
header .logo {
  margin: 40px 0 40px -20px;
  display: inline-block;
  width: 240px;
  height: 60px;
  background-image: url("../img/logo-positivo-300.png");
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 213, sass/style.scss */
header .logo + h1 {
  display: inline-block;
  font-family: 'DINCond';
  font-weight: 200;
  text-transform: none;
  font-size: 24px;
  position: relative;
  top: -64px;
}
/* line 221, sass/style.scss */
header .logo + h1:before {
  content: "|";
  font-size: 24px;
  margin: 0 16px 0 0;
  position: relative;
  top: 0;
}
/* line 230, sass/style.scss */
header .links {
  list-style-type: none;
  margin: 56px 0 0;
}
/* line 233, sass/style.scss */
header .links li {
  display: inline-block;
  margin: 0 0 0 15px;
}
/* line 236, sass/style.scss */
header .links li a {
  display: block;
  padding: 5px 10px;
  font-size: 17px;
  font-weight: 200;
  font-family: 'DIN';
  text-transform: uppercase;
  color: #9999a0;
  text-decoration: none;
}
/* line 245, sass/style.scss */
header .links li a.active {
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 249, sass/style.scss */
header .links li a:hover {
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

/* line 258, sass/style.scss */
.bs-docs-container {
  margin-top: 5px;
}

/* line 261, sass/style.scss */
#hot-positions {
  padding: 0 16px 0 0;
}
/* line 264, sass/style.scss */
#hot-positions .head {
  background: #e5e3e4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5e3e4 0%, #cbccd0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e3e4), color-stop(100%, #cbccd0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5e3e4 0%, #cbccd0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5e3e4 0%, #cbccd0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5e3e4 0%, #cbccd0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e5e3e4 0%, #cbccd0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e3e4', endColorstr='#cbccd0',GradientType=0);
  /* IE6-9 */
  padding: 0px 47px;
  border: 1px solid #cbccd0;
}
/* line 277, sass/style.scss */
#hot-positions .head h2 {
  font-size: 31px;
  margin: 0px;
  letter-spacing: -0.2px;
}
/* line 282, sass/style.scss */
#hot-positions .head p {
  color: #525254;
  font-size: 20px;
  letter-spacing: 0.01em;
  margin: 0px;
}
/* line 289, sass/style.scss */
#hot-positions .content {
  background-color: #e9eaee;
  padding: 20px 80px 10px;
  border: 1px solid #cbccd0;
  border-top: 0;
}
/* line 296, sass/style.scss */
#hot-positions .content .carousel a.left,
#hot-positions .content .carousel a.right {
  background: url("../img/icon-sprite.png") no-repeat transparent;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}
/* line 303, sass/style.scss */
#hot-positions .content .carousel a.left {
  left: -65px;
  background-position: 0px -26px;
}
/* line 307, sass/style.scss */
#hot-positions .content .carousel a.right {
  right: -65px;
  background-position: -42px -26px;
}
/* line 312, sass/style.scss */
#hot-positions .content .carousel .carousel-inner .item {
  width: 450px;
  margin: 0px auto;
}
/* line 316, sass/style.scss */
#hot-positions .content .carousel .carousel-inner .item.active {
  display: block;
}
/* line 319, sass/style.scss */
#hot-positions .content .carousel .carousel-inner .item h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 23px;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
/* line 326, sass/style.scss */
#hot-positions .content .carousel .carousel-inner .item h3.hot:before {
  content: " ";
  background: url("../img/footersocialsprite.png") no-repeat 0 -120px;
  display: inline-block;
  height: 30px;
  width: 30px;
  position: absolute;
  left: -28px;
  top: -5px;
}
/* line 333, sass/style.scss */
#hot-positions .content .carousel .carousel-inner .item .location {
  margin-left: 20px;
}
/* line 335, sass/style.scss */
#hot-positions .content .carousel .carousel-inner .item .location:before {
  content: " ";
  width: 20px;
  height: 22px;
  margin-right: 5px;
  display: inline-block;
  background: url("../img/icon-sprite.png") top left no-repeat transparent;
}
/* line 344, sass/style.scss */
#hot-positions .content .carousel .carousel-inner .item .seniority {
  margin-left: 28px;
}
/* line 347, sass/style.scss */
#hot-positions .content .carousel .carousel-inner .item .seniority:before {
  content: " ";
  width: 20px;
  height: 22px;
  margin-right: 5px;
  display: inline-block;
  background: url("../img/icon-sprite.png") -24px 0 no-repeat transparent;
}
/* line 356, sass/style.scss */
#hot-positions .content .carousel .carousel-inner .item .location, #hot-positions .content .carousel .carousel-inner .item .seniority {
  color: #525254;
  margin-top: 10px;
  display: inline-block;
  font-size: 23px;
}
/* line 362, sass/style.scss */
#hot-positions .content .carousel .carousel-inner .item .btn {
  position: absolute;
  top: 26px;
  right: 0px;
}
/* line 369, sass/style.scss */
#hot-positions .content .carousel .carousel-indicators {
  position: static;
  margin: 10px auto 5px;
}
/* line 373, sass/style.scss */
#hot-positions .content .carousel .carousel-indicators li {
  width: 14px;
  height: 14px;
  margin-right: 11px;
  border: 1px solid #d8d8da;
  background-color: #d8d8da;
}
/* line 378, sass/style.scss */
#hot-positions .content .carousel .carousel-indicators li.active {
  border: 1px solid #bab9be;
  background-color: #bab9be;
}

/* line 387, sass/style.scss */
#top-globers {
  padding: 0;
}
/* line 390, sass/style.scss */
#top-globers h2 {
  font-size: 25px;
  margin: 0px;
}
/* line 394, sass/style.scss */
#top-globers ul {
  padding: 0px;
}
/* line 397, sass/style.scss */
#top-globers ul li {
  border-bottom: 2px solid #d4d3d9;
  padding: 6px 25px 6px 0px;
  overflow: hidden;
}
/* line 402, sass/style.scss */
#top-globers ul li p {
  font-size: 18px;
  float: left;
  margin-bottom: 0px;
}
/* line 407, sass/style.scss */
#top-globers ul li span {
  color: #e61191;
  float: right;
  font-size: 20px;
}

/* line 415, sass/style.scss */
#recent-position {
  padding: 0px;
}
/* line 418, sass/style.scss */
#recent-position table {
  width: 100%;
}
/* line 421, sass/style.scss */
#recent-position table thead tr {
  border: 1px solid #cbccd0;
  text-transform: uppercase;
  background-color: #e9eaee;
}
/* line 426, sass/style.scss */
#recent-position table thead tr th {
  padding: 5px 0px 0px 10px;
  font-size: 23px;
  font-weight: normal;
}
/* line 434, sass/style.scss */
#recent-position table tbody tr td {
  padding: 10px 20px;
  font-size: 18px;
  border-bottom: 2px solid #d4d3d9;
}
/* line 439, sass/style.scss */
#recent-position table tbody tr td.hot:before {
  content: " ";
  background: url("../img/footersocialsprite.png") no-repeat 0 -120px;
  display: inline-block;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 12px;
  left: -7px;
}
/* line 445, sass/style.scss */
#recent-position table tbody tr td .btn {
  font-size: 24px;
  vertical-align: middle;
}
/* line 453, sass/style.scss */
#recent-position .view-all {
  padding: 0px 40px;
  margin-top: 15px;
}

/* line 458, sass/style.scss */
#extra-referral {
  padding: 15px 10px;
  margin: 50px 0px;
  background-color: #e9eaee;
  font-size: 23px;
}
/* line 464, sass/style.scss */
#extra-referral p {
  margin: 0px;
}
/* line 467, sass/style.scss */
#extra-referral .refer-now {
  padding: 0px 30px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -15px;
}

/* line 475, sass/style.scss */
footer {
  padding: 20px 10px;
  background-color: #d4d3d3;
}
/* line 479, sass/style.scss */
footer .social a {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/footersocialsprite.png") no-repeat;
  text-indent: -9999px;
  float: left;
  margin: 0 0 0 15px;
}
/* line 487, sass/style.scss */
footer .social a.twitter {
  background-position: 0 -80px;
}
/* line 490, sass/style.scss */
footer .social a.facebook {
  background-position: 0 0;
}
/* line 493, sass/style.scss */
footer .social a.linkedin {
  background-position: 0 -40px;
}
/* line 497, sass/style.scss */
footer .social .copyright {
  font-family: 'DIN';
  font-size: 23px;
  display: inline-block;
  width: 200px;
  margin: 0 0 0 25px;
  line-height: 40px;
}

/* line 507, sass/style.scss */
div#comp {
  display: none;
  opacity: .5;
  position: absolute;
  top: 0;
  left: -15px;
}

/* line 514, sass/style.scss */
.switch {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10000;
}
