<div class="container bs-docs-container hrhome">
	
	<div class="row">
		<section id="new-refers">
			<h2>Manage Positions
				<form action="" class="inline-form pull-right">
					<fielset>
						<div class="form-group">
							<input type="text" id="search" name="search">
							<input type="submit" id="submit" name="submit" value="submit"></div>
					</fielset>
				</form>
				<span class="pull-right"><a href="#" title="To Settings">Settings</a></span>
			</h2>		
			<table class="table manage-positions">
				<thead>
					<tr>
						<th class="filter">Position <span class="caret"></span></th>
						<th class="filter">Location <span class="caret"></span></th>
						<th class="filter">Seniority <span class="caret"></span></th>
						<th>Classification</th>
						<th>Status</th>							
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Test Automation Engineer</td>
						<td>Bogot&aacute; and other locations</td>
						<td>Senior</td>
						<td><input type="checkbox"> Hot</td>
						<td>
							<select id="visible1" class="selectpicker">
								<option value="visible">Visible</option>
								<option value="invisible">Invisible</option>										
							</select>
						</td>
					</tr>
					<tr>
						<td>Client Partner</td>
						<td>Bogot&aacute;</td>
						<td>Junior</td>
						<td><input type="checkbox"> Hot</td>
						<td>
							<select id="visible2" class="selectpicker">
								<option value="visible">Visible</option>
								<option value="invisible">Invisible</option>										
							</select>
						</td>
					</tr>
					<tr>
						<td>Python Developer</td>
						<td>Bogot&aacute; and other locations</td>
						<td>Senior</td>
						<td><input type="checkbox"> Hot</td>
						<td>
							<select id="visible3" class="selectpicker">
								<option value="visible">Visible</option>
								<option value="invisible">Invisible</option>										
							</select>
						</td>
					</tr>
					<tr>
						<td>Android Developer</td>
						<td>Bogot&aacute;</td>
						<td>Junior</td>
						<td><input type="checkbox"> Hot</td>
						<td>
							<select id="visible4" class="selectpicker">
								<option value="visible">Visible</option>
								<option value="invisible">Invisible</option>										
							</select>
						</td>
					</tr>
					<tr>
						<td>Client/Sales Partner</td>
						<td>San Francisco</td>
						<td>Semi-Senior</td>
						<td><input type="checkbox"> Hot</td>
						<td>
							<select id="visible5" class="selectpicker">
								<option value="visible">Visible</option>
								<option value="invisible">Invisible</option>										
							</select>	
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>			
</div>
		