<div class="container bs-docs-container">
	<div class="row referafriend">
		<section id='recent-position' class="col-md-12">
			<h2>All open positions</h2>
			<table>
				<thead>
					<tr>
						<th>
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
							    Filter by position
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test Automation Engineer</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Client Partner</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test Automation Engineer</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test Automation Engineer</a></li>
							  </ul>
							</div>
						</th>
						<th>
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
							    Filter by location
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bogotá & other locations</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bogotá & other locations</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bogotá & other locations</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bogotá & other locations</a></li>
							  </ul>
							</div>
						</th>
						<th>
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">
							    Filter by senority
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Junior</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Semi Senior</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Senior</a></li>
							    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tech Lead</a></li>
							  </ul>
							</div>
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="hot">Test Automation Engineer</td>
						<td>Bogotá & other locations</td>
						<td>Senior</td>
						<td class="text-right"><a href="#" class="btn btn-green">Refer a friend</a></td>
					</tr>
					<tr>
						<td>Client Partner</td>
						<td>Bogotá</td>
						<td>Junior</td>
						<td class="text-right"><a href="#" class="btn btn-green">Refer a friend</a></td>
					</tr>
					<tr>
						<td>Test Automation Engineer</td>
						<td>Bogotá & another locations</td>
						<td>Senior</td>
						<td class="text-right"><a href="#" class="btn btn-green">Refer a friend</a></td>
					</tr>
					<tr>
						<td>Client Partner</td>
						<td>Bogotá</td>
						<td>Junior</td>
						<td class="text-right"><a href="#" class="btn btn-green">Refer a friend</a></td>
					</tr>
					<tr>
						<td>Client/Sales Partner</td>
						<td>Bogotá</td>
						<td>Junior</td>
						<td class="text-right"><a href="#" class="btn btn-green">Refer a friend</a></td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>			
</div>