<div class="container bs-docs-container hrhome">
	<div class="row">
		<div class="pull-right">
			<ul class="status">
				<li>Status:</li>
				<li><div class="status-data twodays"></div>Two days old</li>
				<li><div class="status-data oneday"></div>One day old</li>
				<li><div class="status-data new"></div>New submission</li>
				<li><div class="status-data reviewed"></div>Reviewed</li>
			</ul>
		</div>				
	</div>
	<div class="row">
		<section id="new-refers">
			<h2>Report
				<form action="" class="inline-form pull-right">
					<fielset>
						<div class="form-group">
							<input type="text" id="search" name="search">
							<input type="submit" id="submit" name="submit" value="submit"></div>
					</fielset>
				</form>
				<span class="pull-right"><a href="#" title="To Manage Positions">Manage Positions</a><a href="#" title="Download Report">Download Report</a></span>
			</h2>		
			<table class="table report">
				<thead>
					<tr>
						<th>Name</th>
						<th>Position</th>
						<th>Location</th>
						<th>Seniority</th>
						<th>Recruiter</th>
						<th>Submission</th>
						<th>Glober</th>
						<th>Points</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><div class="status-data new"></div>Ana Paula Pinto Marafiga</td>
						<td>Test Automation Engineer</td>
						<td>Bogot&aacute; and other locations</td>
						<td>Senior</td>
						<td>
							<select id="recruit1" class="selectpicker">
								<option value="0">Not Asigned</option>
								<option value="agamen">A. Gamen</option>
								<option value="evicini">E. Vicini</option>
								<option value="ccresta">C. Cresta</option>
							</select>
						</td>
						<td>13/12/2013</td>
						<td>Roberto G&oacute;mez Bolanos</td>
						<td>1800</td>
					</tr>
					<tr>
						<td><div class="status-data new"></div>Emilia Tavernari da Coseni</td>
						<td>Client Partner</td>
						<td>Bogot&aacute;</td>
						<td>Junior</td>
						<td>
							<select id="recruit2" class="selectpicker">
								<option value="0">Not Asigned</option>
								<option value="agamen">A. Gamen</option>
								<option value="evicini">E. Vicini</option>
								<option value="ccresta">C. Cresta</option>
							</select>
						</td>
						<td>14/12/2013</td>
						<td>Roberto G&oacute;mez Bolanos</td>
						<td>1800</td>
					</tr>
					<tr>
						<td><div class="status-data reviewed"></div>Tiago Higa</td>
						<td>Python Developer</td>
						<td>Bogot&aacute; and other locations</td>
						<td>Senior</td>
						<td>
							<select id="recruit3" class="selectpicker">
								<option value="0">Not Asigned</option>
								<option value="agamen">A. Gamen</option>
								<option value="evicini">E. Vicini</option>
								<option value="ccresta">C. Cresta</option>
							</select>
						</td>
						<td>12/12/2013</td>
						<td>Roberto G&oacute;mez Bolanos</td>
						<td>1800</td>
					</tr>
					<tr>
						<td><div class="status-data oneday"></div>Cecilia Kremer</td>
						<td>Android Developer</td>
						<td>Bogot&aacute;</td>
						<td>Junior</td>
						<td>
							<select id="recruit4" class="selectpicker">
								<option value="0">Not Asigned</option>
								<option value="agamen">A. Gamen</option>
								<option value="evicini">E. Vicini</option>
								<option value="ccresta">C. Cresta</option>
							</select>
						</td>
						<td>12/12/2013</td>
						<td>Roberto G&oacute;mez Bolanos</td>
						<td>1800</td>
					</tr>
					<tr>
						<td><div class="status-data twodays"></div>Breno Campos</td>
						<td>Client/Sales Partner</td>
						<td>San Francisco</td>
						<td>Semi Senior</td>
						<td>
							<select id="recruit5" class="selectpicker">
								<option value="0">Not Asigned</option>
								<option value="agamen">A. Gamen</option>
								<option value="evicini">E. Vicini</option>
								<option value="ccresta">C. Cresta</option>
							</select>
						</td>
						<td>12/12/2013</td>
						<td>Roberto G&oacute;mez Bolanos</td>
						<td>1800</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>			
</div>